@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1b1b1b;
    font-size: 16px;
}

h1 {
    font-size: 48px;
    font-weight: 800;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 53px;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-400 {
    font-weight: 400;
}

.link_no-underline {
    text-decoration: none;
}

button {
    border: 0;
}

.link-button_color-blue {
    cursor: pointer;
    color: #fff;
    background-color: #4985FF;
    box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    padding: 15px 56px;
}

.link_blue-underline {
    color: #4985FF;
    text-decoration: underline;
}

.text-color_grey {
    color:  grey;
    line-height: 25px;
}

.wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.wrapper > * {
    margin: 0 auto;
}

.wrapper_z-index-2 {
    z-index: 2;
}

header {
    position: absolute;
    left: auto;
    top: auto;
    width: 100%;
}

.header-wrapper {
    height: 104px;
}

.hamburger__overlay-to-close {
    z-index: 2;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    transition: background-color .5s;
}

.blackout {
    background-color: rgba(0, 0, 0, 0.6) !important;
    user-select: none;
}

.non-clickable {
    pointer-events: none;
}

#hamburger, .hamburger__close-button {
    display: none;
}

.header__nav-bar {
    top: 40px;
    position: relative;
    float: left;
    left: 47%;
    white-space: nowrap;
    width: auto;
}

.h-nav__link-list {
    display: flex;
    line-height: 20px;
}

.h-nav-list__link {
    display: block;
    padding: 0 8px;
}

.h-nav-list__link_first-link {
    padding-left: 0;
    margin-left: -8px;
}

.h-nav-list__link_padding-left-0 {
    padding-left: 0;
}

.header__nav-bar a {
    margin: auto;
    padding: 30px 16px;
    color: whitesmoke;
}

.h-nav__feedback {
    position: absolute;
    top: -14px;
    float: left;
    left: -86%;
}

.header__border {
    position: relative;
    width: 100%;
    top: 100px;
    opacity: 0.5;
    box-sizing: border-box;
    border: 1px solid #A1A1A1;
}

.wrapper_welcome-screen-background {
    background: rgb(36, 31, 56) url('../img/first-screen-background.png') center center;
    background-size: cover;
}

.welcome-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 900px;
    padding: 0 20px;
    max-width: 1200px;
}

.welcome-screen__text-block {
    color: #fff;
}

.welcome-screen__slogan-block {
    margin: 20px 80px 50px;
    line-height: 64px;
    color: #fff;
}

.welcome-screen__link-block a {
    white-space: nowrap;
}

.examples-screen {
    max-width: 1200px;
    padding: 160px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.examples-screen__title {
    margin-left: 180px;
    margin-right: 180px;
}

.examples-screen__title_color-323232 {
    color: #323232;
}

.examples-screen__content {
    margin: 50px 190px 70px 190px;
}

.examples-screen__content_color-grey {
    color: grey;
}

.examples-screen__content_line-height-26px {
    line-height: 26px;
}

.examples-screen__advantages {
    display: flex;
    flex-direction: row;
    text-align: left;
}

.examples-screen__advantages > .advantage:last-child {
    margin-right: 0;
}

.advantage {
    display: flex;
    margin: 0 24px 48px 0;
}

.advantage__picture {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex-shrink: 0;
}

.adv-icon_size-114px {
    width: 114px;
    height: 114px;
}

.adv-icon_bordered {
    border-radius: 50%;
    border: 1px solid #E0E0E0;
}

.adv-icon__wrapper {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.adv-icon__wrapper_size-92px {
    width: 92px;
    height: 92px;
}

.adv-icon__wrapper_bordered {
    border-radius: 50%;
    border: 1px solid #4985FF;
}

.icon {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
}

.icon-project_left--3px {
    left: -3px;
}

.advantage__content {
    margin: 12px 0 24px 24px;
}

.advantage__content-text {
    margin-top: 12px;
    line-height: 24px;
}

.advantage__content-text_color-grey {
    color: grey;
}

.examples-screen__link_margin-top {
    margin-top: 55px;
}

.wrapper_background-color-F6F6F8 {
    background-color: #F6F6F8;
}

.high-dev-standards {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    padding: 100px 20px 50px;
}

.high-dev-standards__upper-block {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 90px;
}

.hds-upper-block__text-block {
    margin-top: 52px;
    margin-right: 123px;
    flex: 1;
}

.hds-upper-block__picture-block {
    flex: 1;
}

.hds-upper-block__picture-block img{
    max-width: 100%;
}

.hds-upper-text-block__title {
    margin-bottom: 40px;
}

.hds-upper-text-block__description {
    margin-bottom: 30px;
}

.hds-upper-text-block__link {
}

.high-dev-standards__lower-block {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
}

.hds-lower-block__project-block {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    flex: 1;
}

.hds-lower-project-block__picture-title-block {
    display: flex;
    flex-direction: row;
}

.hds-picture-title-block__picture {
    width: 30px;
    height: 30px;
    margin: auto 0 auto auto;
}

.hds-picture-title-block__title {
    font-size: 36px;
    font-weight: 400;
    margin: auto auto auto 20px;
}

.hds-lower-project-block__text {
    text-align: center;
    padding-top: 14px;
    white-space: nowrap;
}

.jobs-screen {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1200px;
}

.wrapper_background-color_linear-gradient {
    background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #504DC2;
}

.jobs-screen__text-block {
    padding: 100px 0 302px 0;
    display: flex;
}

.jobs-screen__link {
    margin-left: auto;
    margin-top: 33px;
}

.jobs-screen__link a {
    white-space: nowrap;
}

.jobs-screen__title {
    color: whitesmoke;
    margin-right: 50px;
}

.jobs-wrapper {
    margin-top: -232px;
}

.jobs-list {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 85px;
    max-width: 1200px;
}

.job {
    flex-direction: column;
    display: flex;
    padding-bottom: 85px;
}

.job__picture {
    align-self: center;
}

.job__picture img {
    max-width: 100%;
}

.job:nth-of-type(2){
    margin-left: 30px;
    margin-right: 30px;
}

.job__title {
    margin-top: 30px;
    margin-bottom: 30px;
}

.j-title__title-text {
    font-weight: 600;
    display: inline;
}

.j-title__title-text_color-4985FF {
    color: #4985FF;
}

.job__text {
    padding-bottom: 30px;
}

.our-projects-screen {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 100px 20px 130px;
    max-width: 1200px;
}

.our-projects__text {
    padding: 50px 190px 70px;
}

.our-projects__examples {
    display: flex;
    padding-bottom: 70px;
}

.our-projects__example {
    margin-left: 15px;
    margin-right: 15px;
    flex: 1;
}

.our-projects__example img {
    max-width: 100%;
}

.our-projects__example-1 {
    margin-left: 0;
}

.our-projects__example-4 {
    margin-right: 0;
}

.our-projects__link {
    margin: auto;
}

.video-screen {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    padding: 0 20px;
}

.wrapper_video-background {
    background: rgb(36, 31, 56) url('../img/first-screen-background.png') center center;
    background-size: cover;
}

.video-screen__text-block {
    padding-top: 70px;
    padding-bottom: 420px;
    display: flex;
    flex-direction: column;
}

.video-screen__title {
    color: whitesmoke;
}

.video-screen__text {
    color: whitesmoke;
    margin-top: 30px;
    line-height: 25px;
}

.video-wrapper {
    margin-top: -350px;
}

.video-block {
    padding: 0 10px;
    aspect-ratio: 16 / 9;
    max-height: 450px;
    max-width: 100%;
    width: auto;
    resize: vertical;
}

.video-block video {
    height: 100%;
    object-fit: cover;
}

.video-block-border {
    padding-top: 85px;
    border-bottom: 1px solid #e0e0e0;
    margin: 0 50px;
}

.email-screen {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 85px 10px;
    max-width: 1200px;
}

.email-screen__input-block {
    display: flex;
    white-space: nowrap;
    justify-content: center;
}

.email-screen__input {
    border: 0;
    box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
    padding: 15px 40px;
    border-radius: 30px 0 0 30px;
    outline: 0;
}

.email-screen__input-button {
    cursor: pointer;
    background-color: #4985FF;
    color: whitesmoke;
    padding: 15px 35px;
    border: 0;
    margin-left: -5px;
    box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
    border-radius: 0 30px 30px 0;
    line-height: 20px;
}

.email-screen__upper-text {
    margin-top: 20px;
    margin-bottom: 30px;
}

.email-screen__lower-text {
    margin-top: 35px;
    font-size: 13px;
}

.footer-wrapper {
    height: 313px;
}

footer {
    background-color: #F6F6F8;
    padding-top: 70px;
}

.footer-main-page {
    position: absolute;
    display: flex;
    max-width: 1200px;
    left: 20px;
    right: 20px;
    flex-wrap: wrap;
}

.f__block {
    flex: 1;
    list-style: none;
}

.f__block h3 {
    position: relative;
    height: 22px;
}

.f__block-2 {
    margin-left: 13px;
    margin-right: 13px;
}

.f__block-3 {
    margin-right: 13px;
}

.f__links-list {
    display: flex;
    flex-direction: column;
    margin: auto;
    list-style: none;
    position: relative;
    top: 15px;
}

.f__link {
    margin-top: 30px;
}

.f__link img {
    padding-right: 13px;
}

.copyright {
    border-top: 1px solid #e0e0e0;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.forms__background {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color .5s;
}

.forms__background, .email-form, .feedback-form {
    display: none;
}

.form__inner {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    padding: 40px 50px;
    border-radius: 30px;
}

.email-form__inner, .feedback-form__inner {
    opacity: 0;
    transition: .4s;
    animation: show .7s 1;
    animation-fill-mode: forwards;
}

.form {
    z-index: 4;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form__input {
    margin: 45px 10px 20px;
    border: 0;
    box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
    padding: 15px 40px;
    border-radius: 30px;
    outline: 0;
}

.feedback-form__input {
    margin: 10px 30px;
}

.feedback-form__input_name {
    margin-top: 20px;
}

.feedback-form__input_phone-number {
    margin-bottom: 40px;
}

.feedback-form__send-button {
    white-space: nowrap;
}

.form__send-button {
    margin: 0 auto;
    max-width: 250px;
}

.form__close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    font-size: 45px;
    line-height: 0;
    background-color: transparent;
    cursor: pointer;
}

@media (max-width: 1400px) {
    .header-wrapper {
        height: 94px;
    }

    .welcome-screen {
        height: 100vh;
    }

    .header__nav-bar {
        top: 35px;
    }

    .h-nav-list__link {
        padding: 0 4px;
    }

    .header__nav-bar a {
        padding: 30px 12px;
    }

    .header__border {
        top: 90px;
    }

    .hds-lower-block__project-block {
        padding: 0 40px;
    }
}

@media (max-width: 1060px) {
    .f__links-list {
        top: 30px;
    }

    .footer-wrapper {
        height: 325px;
    }
}

@media (max-width: 1032px) {
    .header__nav-bar a {
        padding: 30px 9px;
    }

    .header-wrapper {
        height: 74px;
    }

    .header__nav-bar {
        top: 25px;
    }

    .header__border {
        top: 70px;
    }

    .hds-lower-block__project-block {
        padding: 0 10px;
    }

    .jobs-screen__text-block {
        padding-bottom: 252px;
    }

    .jobs-wrapper {
        margin-top: -182px;
    }
}

@media (max-width: 998px) {
    .header-wrapper {
        overflow-x: hidden;
        overflow-y: visible;
        height: 100vh;
    }

    .header__nav-bar {
        position: fixed;
        left: 0;
        height: 100vh;
    }

    #hamburger ~ .header__nav-bar {
        z-index: 3;
        top: 0;
        right: auto;
        transition: left .3s;
    }

    #hamburger:checked ~ .header__nav-bar {
        display: block;
        left: 0;
    }

    .hamburger-button {
        position: absolute;
        display: block;
        top: 20px;
        left: 20px;
        cursor: pointer;
        width: 28px;
        height: 28px;
    }

    .hamburger__dash {
        display: block;
        position: absolute;
        width: 22px;
        height: 3px;
        border-radius: 2px;
        background: #fff;
        user-select: none;
    }

    .hamburger__dash_line-1 {
        top: 4px;
        left: 3px;
    }

    .hamburger__dash_line-2 {
        top: 12px;
        left: 3px;
    }

    .hamburger__dash_line-3 {
        top: 20px;
        left: 3px;
    }

    .hamburger__close-button {
        cursor: pointer;
        position: relative;
        right: -201px;
        top: -213px;
        width: 25px;
        height: 25px;
        display: block;
    }

    .hamburger__close-button:before, .hamburger__close-button:after {
        content: "";
        position: absolute;
        width: 20px; height: 2px;
        background: white;
        top: 11px;
        left: 3px;
        border-radius: 4px;
    }

    .hamburger__close-button:before {
        transform: rotate(45deg);
    }

    .hamburger__close-button:after {
        transform: rotate(-45deg);
    }

    .header__nav-bar {
        width: 250px;
        background: #2A4A8A;
        transform: none;
        left: -324px;
        padding-left: 20px;
    }

    .h-nav__link-list {
        flex-direction: column;
    }

    .h-nav-list__link {
        display: block;
        float: none;
        height: 28px;
        line-height: 24px;
        padding: 8px;
        text-align: left;
    }

    .h-nav-list__link_first-link {
        margin-left: 0;
        margin-top: 20px;
    }

    .h-nav__feedback {
        text-align: center;
        display: block;
        position: absolute;
        top: auto;
        float: none;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        padding: 15px 30px !important;
    }

    .header__border {
        display: none;
    }

    .welcome-screen__slogan-block {
        margin: 20px 30px 50px;
    }

    .examples-screen__title {
        margin-left: 80px;
        margin-right: 80px;
    }

    .examples-screen__content {
        margin: 50px 90px 70px;
    }

    .hds-upper-block__text-block {
        margin-top: 0;
        margin-right: 50px;
    }
}

@media (max-width: 768px) {
    * {
        font-size: 14px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 32px;
        line-height: 46px;
    }

    h3 {
        font-size: 16px;
    }

    .email-screen__lower-text {
        font-size: 11px;
    }

    .welcome-screen__slogan-block {
        font-size: 40px;
        line-height: 48px;
    }

    .examples-screen {
        padding: 80px 20px;
    }

    .examples-screen__advantages {
        flex-direction: column;
    }

    .high-dev-standards__upper-block {
        flex-direction: column;
        padding-bottom: 40px;
    }

    .hds-upper-block__text-block {
        margin: 0;
        padding: 0 30px;
    }

    .hds-upper-text-block__title {
        text-align: center;
    }

    .hds-upper-block__picture-block {
        text-align: center;
        margin-top: 30px;
    }

    .high-dev-standards__lower-block {
        flex-wrap: wrap;
        margin-top: 40px;
    }

    .hds-lower-block__project-block {
        flex-basis: 29%;
        margin-top: 30px;
    }

    .examples-screen__link_margin-top {
        margin-top: 0;
    }

    .jobs-screen__text-block {
        padding-bottom: 212px;
    }

    .jobs-wrapper {
        margin-top: -142px;
    }
}

@media (max-width: 680px) {
    .f__links-list {
        top: 0;
    }
    .f__block {
        flex-basis: 44%;
    }

    .footer-wrapper {
        height: 600px
    }

    .f__block-1 {
        margin-left: 13px;
    }

    .f__block-3 {
        margin-left: 13px;
        margin-top: 40px;
    }

    .f__block-4 {
        margin-top: 40px;
        margin-right: 13px;
    }
}

@media (max-width: 640px) {
    .jobs-screen__text-block {
        flex-direction: column;
        text-align: center;
    }

    .jobs-screen__title {
        margin-right: 0;
    }

    .jobs-screen__link {
        margin-top: 50px;
        margin-left: 0;
    }

    .jobs-list {
        flex-direction: column;
    }

    .job:nth-of-type(2) {
        margin-left: 0;
        margin-right: 0;
    }

    .our-projects__examples {
        flex-wrap: wrap;
    }

    .our-projects__example {
        flex: 0;
        flex-basis: 44%;
    }

    .our-projects__example-1 {
        margin-left: 15px;
    }

    .our-projects__example-4 {
        margin-right: 15px;
    }

    .our-projects__example-3, .our-projects__example-4 {
        margin-top: 15px;
    }

    .video-screen__text-block {
        padding-bottom: 310px;
    }

    .video-wrapper {
        margin-top: -240px;
    }

    .our-projects__text {
        padding: 50px 90px 70px;
    }
}

@media (max-width: 539px) {
    .our-projects__examples {
        flex-direction: column;
    }

    .our-projects__example-2 {
        margin-top: 15px;
    }
}

@media (max-width: 480px) {
    * {
        font-size: 14px;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 26px;
        line-height: 40px;
    }

    h3 {
        font-size: 16px;
    }

    .welcome-screen__slogan-block {
        margin: 20px 10px 50px;
    }

    .examples-screen__title {
        margin-left: 10px;
        margin-right: 10px;
    }

    .examples-screen__content {
        margin: 50px 30px 70px;
    }

    .our-projects-screen {
        padding-top: 70px;
    }

    .our-projects__example {
        flex: 0;
        flex-basis: 22%;
    }

    .advantage {
        margin: 0 0 40px 0;
    }

    .high-dev-standards {
        padding-top: 50px;
    }

    .email-screen__input-block {
        padding: 0 20px;
    }

    .email-screen__input {
        padding-right: 0;
        padding-left: 10px;
    }

    .email-screen__input-button {
        padding: 15px;
    }

    .our-projects__text {
        padding: 50px 30px 70px;
    }

    .video-screen__text-block {
        padding-bottom: 220px;
    }

    .video-wrapper {
        margin-top: -150px;
    }

    .video-block-border {
        margin: 0;
    }

    footer {
        padding-top: 0;
    }

    .footer-wrapper {
        height: 0;
    }

    .footer-main-page {
        display: none;
    }

    .form__inner {
        padding: 40px 10px;
    }

    .feedback-form__input {
        margin: 10px 15px;
    }

    .feedback-form__input_phone-number {
        margin-bottom: 30px;
    }
}

@media (max-width: 380px) {
    .email-screen__input {
        width: 170px;
    }

    .form {
        width: 300px;
    }

    .form__send-button {
        padding: 15px 30px;
    }
}

@media (max-width: 320px) {
    .welcome-screen__slogan-block {
        font-size: 36px;
        line-height: 40px;
    }

    .high-dev-standards__lower-block {
        display: none;
    }

    .video-screen__text-block {
        padding-bottom: 180px;
    }

    .video-wrapper {
        margin-top: -110px;
    }

    .email-screen__input-block label {
        display: none;
    }

    .email-screen__input-button {
        padding: 12px 30px;
        border-radius: 30px;
    }
}

@keyframes show {
     0% {
         opacity: 0;
     }
     100% {
         opacity: 1;
     }
 }

@keyframes disappearance {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}