@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1b1b1b;
    font-size: 16px;
}

h1 {
    font-size: 48px;
    font-weight: 800;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 53px;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

.font-weight_600 {
    font-weight: 600;
}

.font-weight_400 {
    font-weight: 400;
}

.link_no-underline {
    text-decoration: none;
}

.link-button_color_blue {
    color: #fff;
    background-color: #4985FF;
    box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    padding: 15px 56px;
}

.link_blue-underline {
    color: #4985FF;
    text-decoration: underline;
}

.text-color_grey {
    color:  grey;
    line-height: 25px;
}

.wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.wrapper > * {
    margin: 0 auto;
}

.wrapper_z-index_99999 {
    z-index: 999999;
}

header {
    position: absolute;
    height: 101px;
    left: auto;
    top: auto;
    width: 100%;
}

.header__nav-bar {
    margin-top: 40px;
    position: relative;
    float: right;
    right: 383px;
    white-space: nowrap;
    width: auto;
}

.h-nav__link-list {
    display: flex;
    line-height: 20px;
}

.h-nav-list__link {
    display: block;
    padding: 0 8px;
}

.h-nav-list__link_margin-left--8px {
    padding-left: 0;
    margin-left: -8px;
}

.header__nav-bar a {
    margin: auto;
    padding: 30px 16px;
    color: whitesmoke;
}

.header__border {
    width: 100%;
    margin-top: 100px;
    opacity: 0.5;
    box-sizing: border-box;
    border: 1px solid #A1A1A1;
}

.wrapper_welcome-screen-background {
    background: rgb(36, 31, 56) url('../img/first-screen-background.png');
}

.welcome-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 900px;
    padding: 0 20px;
    max-width: 1200px;
}

.welcome-screen__text-block {
    color: #fff;
}

.welcome-screen__slogan-block {
    margin: 20px 80px 50px;
    line-height: 64px;
    color: #fff;
}

.welcome-screen__link-block a {
    white-space: nowrap;
}

.examples-screen {
    max-width: 1200px;
    padding: 160px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.examples-screen__title {
    margin-left: 180px;
    margin-right: 180px;
}

.examples-screen__title_color-323232 {
    color: #323232;
}

.examples-screen__content {
    margin: 50px 190px 70px 190px;
}

.examples-screen__content_color-grey {
    color: grey;
}

.examples-screen__content_line-height-26px {
    line-height: 26px;
}

.examples-screen__advantages {
    display: flex;
    flex-direction: row;
    text-align: left;
}

.examples-screen__advantages > .advantage:last-child {
    margin-right: 0;
}

.advantage {
    display: flex;
    margin: 0 24px 48px 0;
}

.advantage__picture {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex-shrink: 0;
}

.adv-icon_size-114px {
    width: 114px;
    height: 114px;
}

.adv-icon_bordered {
    border-radius: 50%;
    border: 1px solid #E0E0E0;
}

.adv-icon__wrapper {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.adv-icon__wrapper_size-92px {
    width: 92px;
    height: 92px;
}

.adv-icon__wrapper_bordered {
    border-radius: 50%;
    border: 1px solid #4985FF;
}

.icon {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
}

.icon-project_left--3px {
    left: -3px;
}

.advantage__content {
    margin: 12px 0 24px 24px;
}

.advantage__content-text {
    margin-top: 12px;
    line-height: 24px;
}

.advantage__content-text_color-grey {
    color: grey;
}

.examples-screen__link_margin-top-55px {
    margin-top: 55px;
}

.wrapper_background-color-F6F6F8 {
    background-color: #F6F6F8;
}

.high-dev-standards {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    padding: 100px 20px 50px;
}

.high-dev-standards__upper-block {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 90px;
}

.hds-upper-block__text-block {
    margin-top: 52px;
    margin-right: 123px;
}

.hds-upper-text-block__title {
    margin-bottom: 40px;
}

.hds-upper-text-block__text {
    margin-bottom: 30px;
}

.hds-upper-text-block__link {
}

.high-dev-standards__lower-block {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
}

.hds-lower-block__project-block {
    display: flex;
    flex-direction: column;
    padding-inline: 50px;
    flex: 1;
}

.hds-lower-project-block__picture-title-block {
    display: flex;
    flex-direction: row;
}

.hds-picture-title-block__picture {
    margin: auto;
    width: 30px;
    height: 30px;
}

.hds-picture-title-block__title {
    margin: auto;
    font-size: 36px;
    font-weight: 400;
}

.hds-lower-project-block__text {
    text-align: center;
    padding-top: 14px;
    white-space: nowrap;
}

.jobs-screen {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1200px;
}

.wrapper_background-color_linear-gradient {
    background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #504DC2;
}

.jobs-screen__text-block {
    padding: 100px 0 302px 0;
    display: flex;
}

.jobs-screen__link {
    margin-left: auto;
    margin-top: 33px;
}

.jobs-screen__link a {
    white-space: nowrap;
}

.jobs-screen__title {
    color: whitesmoke;
    margin-right: 50px;
}

.wrapper_margin-top_-232px {
    margin-top: -232px;
}

.jobs-list {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 85px;
    max-width: 1200px;
}

.job {
    flex-direction: column;
    display: flex;
    padding-bottom: 85px;
}

.job__picture {
    align-self: center;
}

.job__picture img {
    max-width: 100%;
}

.job:nth-of-type(2){
    margin-left: 30px;
    margin-right: 30px;
}

.job__title {
    margin-top: 30px;
    margin-bottom: 30px;
}

.j-title__title-text {
    font-weight: 600;
    display: inline;
}

.j-title__title-text_color-4985FF {
    color: #4985FF;
}

.job__text {
    padding-bottom: 30px;
}

.our-projects-screen {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 100px 20px 130px;
    max-width: 1200px;
}

.our-projects__text {
    padding: 50px 190px 70px;
}

.our-projects__examples {
    display: flex;
    padding-bottom: 70px;
}

.our-projects__example {
    margin-left: 15px;
    margin-right: 15px;
    flex: 1;
}

.our-projects__example img {
    max-width: 100%;
}

.our-projects__example_margin-left-0 {
    margin-left: 0;
}

.our-projects__example_margin-right-0 {
    margin-right: 0;
}

.our-projects__link {
    margin: auto;
}

.video-screen {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
}

.wrapper_video-background {
    background: rgb(36, 31, 56) url('../img/first-screen-background.png');
}

.video-screen__text-block {
    padding-top: 70px;
    padding-bottom: 420px;
    display: flex;
    flex-direction: column;
}

.video-screen__title {
    color: whitesmoke;
}

.video-screen__text {
    color: whitesmoke;
    margin-top: 30px;
    line-height: 25px;
}

.wrapper_margin-top_-350px {
    margin-top: -350px;
}

.video-block {
    aspect-ratio: 16 / 9;
    height: 430px;
    width: auto;
    resize: horizontal;
    max-width: 100%;
}

.video-block-border {
    padding-top: 85px;
    border-bottom: 1px solid #e0e0e0;
    margin: 0 50px;
}

.email-screen {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 85px;
    padding-bottom: 85px;
    max-width: 1200px;
}

.email-screen__input-block {
    display: inline;
    white-space: nowrap;
    justify-content: center;
}

.email-screen__input {
    border: 0;
    box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
    padding: 15px 40px;
    border-radius: 30px 0 0 30px;
    outline: 0;
}

.email-screen__input-button {
    background-color: #4985FF;
    color: whitesmoke;
    padding: 15px 35px;
    border: 0;
    margin-left: -5px;
    box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
    border-radius: 0 30px 30px 0;
    line-height: 20px;
}

.email-screen__upper-text {
    margin-top: 20px;
    margin-bottom: 30px;
}

.email-screen__lower-text {
    margin-top: 35px;
    font-size: 13px;
}

footer {
    background-color: #F6F6F8;
    padding-top: 70px;
}

.footer-main-page {
    display: flex;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 70px;
    border-bottom: 1px solid #e0e0e0;
}

.f__block {
    flex: 1;
    list-style: none;
}

.f__block_margin-left-13px {
    margin-right: 13px;
}

.f__block_margin-right-13px {
    margin-right: 13px;
}

.f__links-list {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 15px;
    list-style: none;
}

.f__link {
    margin-top: 30px;
}

.f__link img {
    padding-right: 13px;
}

.copyright {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
